<br/>
<br/>
<p>Search for a game :</p>
<p>
	<input id="query_input" name="query" autofocus value="{{ query }}"></input>
	{% csrf_token %}
</p>
<div class="search_results" hidden>
	<br/>
	<div class="app_list">
		{% for app in search_results %}
		<a class="app" href="https://play.google.com/store/apps/details?id={{ app.store_id }}" target="_blank">
			<div class="app_thumbnail"><img src="{{ app.thumbnail }}"/></div>
			<div class="app_name">{{ app.name }}</div>
		</a><br/>
		{% endfor %}
	</div>
</div>
<style>
body { color: #333; font-family: Georgia; text-align: center; }
#query_input { font-size: 2rem; }
.app { background-color: rgba(0,0,0,.025); border-radius: 4px; margin: .5rem 0; display: inline-block; }
.app_thumbnail { display: inline-block; vertical-align: bottom; width: 34px; height: 34px; background-color: rgba(0,0,0,.25);}
.app_thumbnail img { width: 34px; }
.app_name { display: inline-block; line-height: 34px; vertical-align: bottom; width: 20rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0 .5rem; text-align: left; }
.app:link, .app:visited { text-decoration: none; color: inherit; }
.app:hover { background-color: rgba(0,0,0,.075) }
.app_list.loading { position: relative; }
.app_list.loading::after { position: absolute; content: "Loading..."; display: block; height: 100%; width: 100%; top: 0; left: 0; background-color: white; }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
	$(function() {
		var t // timeout
		$('#query_input').on('input', function(){
			query = $(this).val()
			clearTimeout(t)
			t = setTimeout(function() {
				search(query)
			}, 350)
		})
	})
	var last_search_query = ""
	function search(query) {
		$('.search_results').show()
		$('.app_list').addClass("loading")
		if (query != last_search_query) {
			var search_url = "{% url 'play_store__search_api' %}" + "?query=" + query
			$.get(search_url).done(function(data) {
				var app_list_html = ""
				$.each(data.apps, function(i, app){
					app_list_html += `
						<a class="app" href="https://play.google.com/store/apps/details?id=${app.store_id}" target="_blank">
							<div class="app_thumbnail"><img src="${app.thumbnail}"/></div>
							<div class="app_name">${app.name}</div>
						</a><br/>
					`
				})
				$('.app_list').html(app_list_html)
				$('.search_results').hide()
				$('.app_list').removeClass("loading")
				$('.search_results').fadeIn()
			})
			last_search_query = query
		}
	}
</script>